.quadrado-az{
    background-color: #001D3D;
    width: 380px;
    height: 500px;


}

.quadrado-am{
    background-color: #FFD60A;
    width: 380px;
    height: 500px;


}
.teste1{
    position: absolute;
    top: 60px;
    left: 250px;

}
.margin{
    margin-top: 90px;
}

.botton-y{
    background-color: #FFD60A;
    border-radius: 60px;
    width: 150px;
    height: 40px;
    border: none;
}


.botton-a{
    background-color: #001D3D;
    border-radius: 60px;
    width: 150px;
    height: 40px;
    border: none;
}
