<section class="our-webcoderskull padding-lg fc-bg">
    <div class="container">
      <div class="row heading heading-icon text-center">
          <p class="blue fs-64">DESENVOLVEDORES</p>
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3 ">
            <div class="cnt-block fc-bg-blue equal-hight bg-card" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
              <h3>Deyky Pinheiro</h3>
              <p>Desenvolvedor Web FullStack Jr</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/DeykyPinheiro"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/deyky-pinheiro-bbb735125/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
              <h3>Gabriel Varandas</h3>
              <p>Desenvolvedor Web FullStack Jr</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/Gabsdevfull"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/gabriel-pereiravarandas/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
              <h3>Giovanna Alonso Guarezi</h3>
              <p>Desenvolvedor Web FullStack Jr</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/giovannaalonso"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/giovanna-alonso-guarezi-419a8316b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="https://i.imgur.com/YOP9BTc.jpg?1" class="img-responsive" alt=""></figure>
              <h3>Leonardo Maiorano</h3>
              <p>Desenvolvedor Web FullStack Jr</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/leonardomaiorano"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/leonardomaiorano/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
      </ul>
      <div class="row d-flex justify-content-center">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
              <h3>Nycolas Couto</h3>
              <p>Desenvolvedor Web FullStack Jr</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/Nyckk1"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/nycolas-couto-26a812188/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
              <h3>Rennan Mendes</h3>
              <p>Desenvolvedor Web FullStack Jr</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/RennanMendes"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/rennan-mendes-50493b204/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
              <h3>Tatyana Okimura</h3>
              <p>Desenvolvedor Web FullStack Jr</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/TatyanaMie"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/tatyana-okimura-313464132/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
      </div>
    </div>
  </section>