<!-- Devs-->
<div class="conatiner-flex gradiente">
  <p class="blue fs-64 text-center pt-5"> <b>Desenvolvedores</b> </p>
  <div class="row d-flex justify-content-center p-120">
    <div class="col-md-3">
      <div class=" quadrado text-center m-auto zoom">

        <img src="https://i.imgur.com/2i49fq0.png" width="170px" height="170px" class="border mt-5 mb-3" alt="">

        <h3 class="blue mt-3 "> <b>Deyky Pinheiro</b> </h3>
        <p class="black"> Desenvolvedor Web FullStack Jr </p>
        <div class="text-center">
          <a href="https://github.com/DeykyPinheiro"><i class="fa fa-github-alt black fs-25 mr-3"
              aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/deyky-pinheiro-bbb735125/"><i class="fa fa-linkedin black fs-25 mt-2"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class=" quadrado-a text-center m-auto zoom">

        <img src="https://i.imgur.com/Mv7xieA.jpg" width="170px" height="170px" class="border mt-5 mb-3" alt="">

        <h3 class="yellow mt-3"> Gabriel Varandas</h3>
        <p class="text-white">Desenvolvedor Web FullStack Jr</p>
        <div class="text-center">
          <a href="https://github.com/Gabsdevfull"><i class="fa fa-github-alt white fs-25 mr-3"
              aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/gabriel-pereiravarandas/"><i class="fa fa-linkedin white fs-25 mt-2"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class=" quadrado text-center m-auto zoom">

        <img src="https://i.imgur.com/FqKU8Iu.jpg" width="170px" height="170px" class="border mt-5 mb-3" alt="">

        <h3 class="blue mt-3 "> <b>Giovanna Alonso </b> </h3>
        <p class="black"> Desenvolvedora Web FullStack Jr </p>
        <div class="text-center">
          <a href="https://github.com/giovannaalonso"><i class="fa fa-github-alt black fs-25 mr-3"
              aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/giovanna-alonso-guarezi-419a8316b/"><i
              class="fa fa-linkedin black fs-25 mt-2" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class=" quadrado-a text-center m-auto zoom">

        <img src="https://i.imgur.com/vy3NXK3.jpg" width="170px" height="170px" class="border mt-5 mb-3" alt="">

        <h3 class="yellow mt-3">Leonardo Maiorano</h3>
        <p class="text-white">Desenvolvedor Web FullStack Jr</p>
        <div class="text-center">
          <a href="https://github.com/leonardomaiorano"><i class="fa fa-github-alt white fs-25 mr-3"
              aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/leonardomaiorano/"><i class="fa fa-linkedin white fs-25 mt-2"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

  </div>


  <div class="row d-flex justify-content-center p-5">
    <div class="col-md-3">
      <div class=" quadrado text-center m-auto zoom">

        <img src="https://i.imgur.com/iWmU4iW.jpg" width="170px" height="170px" class="border mt-5 mb-3" alt="">

        <h3 class="blue mt-3 "> <b>Nycolas Couto</b> </h3>
        <p class="black"> Desenvolvedor Web FullStack Jr </p>
        <div class="text-center">
          <a href="https://github.com/Nyckk1"><i class="fa fa-github-alt black fs-25 mr-3" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/nycolas-couto-26a812188/"><i class="fa fa-linkedin black fs-25 mt-2"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class=" quadrado-a text-center m-auto zoom">

        <img src="https://i.imgur.com/0NK5QCM.jpg" width="170px" height="170px" class="border mt-5 mb-3" alt="">

        <h3 class="yellow mt-3"> Rennan Mendes</h3>
        <p class="text-white">Desenvolvedor Web FullStack Jr</p>
        <div class="text-center">
          <a href="https://github.com/RennanMendes"><i class="fa fa-github-alt white fs-25 mr-3"
              aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/rennan-mendes-50493b204/"><i class="fa fa-linkedin white fs-25 mt-2"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-5">
      <div class=" quadrado text-center m-auto zoom">

        <img src="https://i.imgur.com/fwxVA3a.jpg" width="170px" height="170px" class="border mt-5 mb-3" alt="">

        <h3 class="blue mt-3 "> <b>Tatyana Okimura</b> </h3>
        <p class="black">Desenvolvedora Web FullStack Jr</p>
        <div class="text-center">
          <a href="https://github.com/TatyanaMie"><i class="fa fa-github-alt black fs-25 mr-3"
              aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/tatyana-okimura-313464132/"><i class="fa fa-linkedin black fs-25 mt-2"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>