<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container-fluid p-0">
    <div class="container align-items-center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Entrar</h2>

                <form class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input [(ngModel)]="usuarioLogin.email" type="text" class="form-control" placeholder="E-mail" name="email">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input [(ngModel)]="usuarioLogin.senha" type="password" class="form-control" placeholder="Senha" name="senha">
                    </div>

                    <div class="form-check d-flex justify-content-center">
                        <button type="submit" class="btn btn-login float-right " (click)="entrar()" >Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text-center">Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a></p>

                </form>

            </div>

            <div class="col-md-8 banner-sec"></div>
        </div>
    </div>
</div>
