<div class="container medidas">
  <div class="row d-flex justify-content-center">

    <div class="col-md-4 pl-5 ">
      <div class="justify-content-center">
        <div class="quadrado"></div>
        <div class="quadrado2"></div>
        <div><img class="foto" src="https://i.imgur.com/AQSY1PJ.jpg" alt=""></div>
      </div>
    </div>

    <div class="col-md-6  ">
      <p class="f-30 upper c-azul mt-4 ml-5 ">Quem somos</p>
      <p class="f-20 ml-5">It is a long established fact that a reader will be distracted by the readable content of a
        page when looking at its layout. </p>

      <p class="f-18 ml-5" align="justify">It is a long established fact that a reader will be distracted by the readable content of a
        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
        distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model.</p>

      <a href="https://www.ipea.gov.br/ods/ods7.html" target="_blank"><button class=" mt-1 ml-5 btn fonte fc-blue f-15 font-weight-bold fc-bg-yellow">Saiba mais</button></a>
    </div>

  </div>
</div>

<div class="container-fluid fc-bg-blue">
  <div class="container">
    <div class="row pt-5 d-flex justify-content-center">
      <h2 class="text-white font-weight-bold pb-2">NOSSOS PILARES</h2>
    </div>
    <div class="row d-flex posicao mt-4">
      <i class="fa-solid fa-globe mr-5"></i>
      <i class="fa fa-solar-panel ml-2"></i>
      <i class="fa fa-handshake ml-5"></i>
    </div>
    <div class="row d-flex justify-content-center" align="justify">
      <div class="quadrado3 mr-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci quis quas id voluptates debitis minus sit, hic iusto, saepe in doloribus reprehenderit explicabo. Architecto, molestiae! Ea veritatis error consectetur!</p>
      </div>
      <div class="quadrado3 mr-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci quis quas id voluptates debitis minus sit, hic iusto, saepe in doloribus reprehenderit explicabo. Architecto, molestiae! Ea veritatis error consectetur!</p>
      </div>
      <div class="quadrado3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci quis quas id voluptates debitis minus sit, hic iusto, saepe in doloribus reprehenderit explicabo. Architecto, molestiae! Ea veritatis error consectetur!</p>
      </div>
    </div>
  </div>
</div>