<div class="container medidas">
  <div class="row d-flex justify-content-center">

    <div class="col-md-4 pl-5 ">
      <div class="justify-content-center">
        <div class="quadrado"></div>
        <div class="quadrado2"></div>
        <div><img class="foto" src="https://i.imgur.com/AQSY1PJ.jpg" alt=""></div>
      </div>
    </div>

    <div class="col-md-6  ">
      <p class="f-30 upper c-azul mt-4 ml-5 font-weight-bold fs-20" align="justify">Quem somos</p>
      <p class="f-20 ml-5" align="justify">O projeto Sunflower é um e-commerce criado com o intuito de oferecer à população e às industrias uma opção de energia limpa e renovável através da comercialização de placas solares e outros produtos movidos à energia solar com baixo custo, afim de democratizar esta tecnologia assegurando o acesso universal, confiável, moderno e a preços acessíveis. </p>

      <p class="f-18 ml-5" align="justify">Entende-se como publico-alvo deste e-commerce qualquer pessoa ou empresa que tenha interesse na melhoria da eficiência de energias renováveis na matriz energética nacional e investimento em energia limpa e renovável, reduzindo o impacto ambiental causado pelo uso da energia convencional gerada por fontes não renováveis.
      </p>

      <a href="https://www.ipea.gov.br/ods/ods7.html" target="_blank"><button class=" mt-1 ml-5 btn fonte fc-blue f-15 font-weight-bold fc-bg-yellow">Saiba mais</button></a>
    </div>

  </div>
</div>

<div class="container-fluid fc-bg-blue">
  <div class="container">
    <div class="row pt-5 d-flex justify-content-center">
      <h2 class="text-white font-weight-bold pb-2">NOSSOS PILARES</h2>
    </div>
    <div class="row d-flex posicao mt-4">
      <i class="fa-solid fa-globe mr-5"></i>
      <i class="fa fa-solar-panel ml-2"></i>
      <i class="fa fa-handshake ml-5"></i>
    </div>
    <div class="row d-flex justify-content-center" align="justify">
      <div class="quadrado3 mr-5">
        <p>Com o uso de energias renováveis teremos impactos benéficos ao planeta, como a redução das taxas de carbono, aumentando a participação de energias renováveis na matriz energética global visando a melhoria da eficiência energética!</p>
      </div>
      <div class="quadrado3 mr-5">
        <p>Fortes investimentos na construção de soluções que possam atender múltiplos perfis de clientes que buscam autossuficiência. Nossos geradores on grid, off grid ou híbridos contam com dispositivos de alta qualidade, reconhecidos mundialmente.</p>
      </div>
      <div class="quadrado3">
        <p>Em contato direto com o consumidor, esperamos democratizar o acesso aos produtos que se utilizam de energias limpas e renováveis. Fazendo com que os cidadãos exerçam um papel crucial no alcance das metas estabelecidas pela ONU.</p>
      </div>
    </div>
  </div>
</div>