.medidas{
    display: flex;
    height: 520px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.quadrado{
    height: 250px;
    width: 260px;
    background-color: #001d3d;
    position: absolute;
    margin-top: 10px;
}

.quadrado2{
    height: 270px;
    width: 260px;
    background-color: #ffd60a;
    position: absolute;
    margin-top: 70px;
    margin-left: 70px;
    opacity: 95%;
}

.fc-blue{
    color: #001d3d;
}

.fc-bg-yellow{
    background-color: #ffd60a;
}

.fc-bg-blue{
    background-color: #001d3d;
}

.foto{
    border-radius: 120px;
    width: 200px;
    height: 330px;
    position: absolute;
    top: 160px;
    left: 80px;
}

.btn{
    border-radius: 20px;
    text-decoration: none;
}

.btn:hover{
    background-color: #001d3d;
    color: #ffd60a;
}

.quadrado3{
    height: 270px;
    width: 270px;
    background-color: #ffd60a;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 10px;
    font-size: 18px;
}

.posicao{
    justify-content: space-evenly;
}

.fa{
    color: #DDDDDD;
    font-size: 45px;
}

.fa-solid{
    color: #DDDDDD;
    font-size: 45px;
}

.fs-20{
    font-size: 20px;
}