.fs-16{
    font-size: 16pt;
}

a{
    cursor: pointer;
}

.menu-sunflower{

    background-color: #F7F9E3

}

.menu{
    color: #14213D;
    
}

.menu li a:hover {

    color: #6f96eb;


}

.menu:hover{

    color: #6f96eb;
}

.pesquisar:hover{

    color: #6f96eb;
   
}

#divBusca{
    background-color: #ffd60a;
    border-radius: 60px;
    width: 300px;
    height: 33px;

}
#txtBusca{
    float: left;
    background-color: transparent;
    padding-left:30px;
    font-size: 15px;
    font-family: 'Rubik';
    border: none;
    height: 30px;
    width: 260px;
}
.button1{
    background-color: transparent;
    border: transparent;
}
.distancia{
    margin-left: -20px;
}
