<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualizar produto</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

            <div class="form-group">
                <label for="nome">Nome</label>
                <input [(ngModel)]="produto.nome" type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome do produto">
              </div>
    
              <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea [(ngModel)]="produto.descricao" class="form-control" name="descricao" id="descricao" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="preco">Preço</label>
                <input [(ngModel)]="produto.preco" type="text" class="form-control" id="preco" name="preço" placeholder="Informe o preço">
              </div>
              <!-- <div class="form-group">
                <label for="categoria">Categoria</label>
                <input [(ngModel)]="produto.categoria" type="text" class="form-control" id="titulo" placeholder="Escolha a categoria">
              </div> -->
    
              <div class="form-group">
                <label for="texto">Escolha uma Categoria</label>
                <select class="form-control" name="categoria" id="categoria" [(ngModel)]="idCategoria" (change)="findAllCategoria()">
                    <option  *ngFor="let item of listaCategoria" value="{{item.id}}">{{item.descricaoCategoria}}</option>
                </select>
              </div>

              <div class="d-flex justify-content-center">
                <button class="btn btn-vermelho test-white mr-4" routerLink="/inicio">Cancelar</button>
                <button class="btn btn-roxo2 test-white" (click)="atualizar()">Atualizar</button>
              </div>

        </div>
    </div>



</div>
