<div class="container-fluid" id="frete">
    <p class="pt-2 pb-2 mb-0 fc-yellow text-center">FRETE GRÁTIS na primeira compra</p>
</div>

<div class="container-fluid p-0" id="img">
    <img src="https://i.imgur.com/W7Zowrr.png" alt="" class="" id="img-top">
    <div class="top-centered fs-64">
        <p class="font-weight-bold m-0">Sunflower</p>
    </div>
    <div class="centered">
        <p class="m-0">Sua alternativa para uma energia limpa e renovável.</p>
    </div>
</div>

<div class="container-fluid fc-bg-blue">
    <div class="row pt-5 pb-3 fs-24">
        <div class="col-sm text-center text-white"><i class="fa fa-house-chimney"></i></div>
        <div class="col-sm text-center text-white"><i class="fa fa-box"></i></div>
        <div class="col-sm text-center text-white"><i class="fa fa-tag"></i></div>
        <div class="col-sm text-center text-white"><i class="fa-regular fa-circle-check"></i></div>
    </div>
    <div class="row pb-0">
        <div class="col-sm text-center font-weight-bold fc-yellow">
            <p>ENTREGA PARA TODO BRASIL</p>
        </div>
        <div class="col-sm text-center font-weight-bold fc-yellow">
            <p>FRETE GRÁTIS</p>
        </div>
        <div class="col-sm text-center font-weight-bold fc-yellow">
            <p>5% DE DESCONTO</p>
        </div>
        <div class="col-sm text-center font-weight-bold fc-yellow">
            <p>GARANTIA</p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-sm text-center text-white">
            <p>primeira troca grátis</p>
        </div>
        <div class="col-sm text-center text-white">
            <p>acima de R$200,00</p>
        </div>
        <div class="col-sm text-center text-white">
            <p>no boleto</p>
        </div>
        <div class="col-sm text-center text-white">
            <p>em todos os produtos</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-3 ">
    <div class="row d-flex justify-content-center w100">
        <img src="https://i.imgur.com/QTMrCL5.png" alt="">
    </div>
</div>

<div class="container-fluid fc-bg-yellow">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3 class="pb-2">Como funciona a energia fotovoltaica:</h3>
                <iframe width="500" height="280" src="https://www.youtube.com/embed/JTqz_xzozl0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 text-center divAlinhamento">
                <p class="fs-20 pAlinhamento" align="justify">O funcionamento da energia solar fotovoltaica é baseado no
                    fenômeno que ocorre quando partículas de luz solar (fótons) colidem com os átomos de silício
                    presentes no painel solar, gerando um deslocamento dos elétrons, que cria uma corrente elétrica
                    contínua, chamada de energia solar fotovoltaica.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-6">
            <img loading="lazy" class="ml-5" src="https://i.imgur.com/ysItbuh.png"
                alt="" width="372" height="296">
        </div>

        <div class="col-md-6 justify fs-20">
            <p style="text-align: justify">O Brasil possui um enorme potencial energético solar em toda a sua extensão.
                Seus custos de eletricidade serão reduzidos devido a redução do consumo de eletricidade da distribuidora e também ao crédito energético gerado ao longo do tempo.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 justify mt-5 fs-20">
            <p style="text-align: justify">A economia de baixo carbono fomenta o uso racional de recursos naturais. Um sistema solar fotovoltaico On-Grid pode economizar cerca de uma tonelada de carbono por ano, dependendo de onde você mora no Brasil.</p>
        </div>
        <div class="col-md-6">
            <img loading="lazy" class="ml-5" src="https://i.imgur.com/mlr57th.jpg"
                alt="" width="372" height="296">
        </div>
    </div>
</div>

<div class="container-flex fc-bg-blue mb-5 mt-5">
    <div class="row mt-3 mb-2 ">
        <div class="col-md-12 d-flex justify-content-center mt-3 ">
            <h3 class="fc-yellow">Cadastre-se na nossa newsletter</h3>
        </div>
        <div class="col-md-12 d-flex justify-content-center text-white">
            <p>Você terá acesso as promoções e lançamentos incríveis</p>
        </div>
        <div class="col-md-12 d-flex  justify-content-center mb-3">

            <div class="form-inline">
                <input type="email" class="form-control transparencia mr-5 teste" id="email"
                    placeholder="Insira o seu e-mail">
                <button class="btn fc-yellow fs-16">Enviar <i class="fa fa-circle-arrow-right fc-yellow"></i></button>
            </div>
        </div>
    </div>
</div>