#nav-inicio{
    background-color: #feffdc;
}

.fs-64{
    font-size: 64pt;
    color: #001D3D;
    text-shadow: 2px 2px #feffdc;
}

.fs-24{
    font-size: 24pt;
}

.fs-16{
    font-size: 16pt;
    color: #001D3D;
}

.fc-blue{
    color: #001D3D;
}

.fc-yellow{
    color: #FFD60A;
}

.form-control{
    background-color: #FFD60A;
    min-width: 400px;
    min-height: 1px;
}

.top-centered{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #feffdc;
    font-size: 16pt;
    text-shadow: 1px 1px #001D3D;
}

.row{
    background-color: #001D3D;
}

.pesquisar{
    background-color: #feffdc;
    border-style: none;
}

.pesquisar:hover{
    transform: scale(1.2)
}

.zoom:hover{
    transform: scale(1.2);
}

#home{
    color: #001D3D;
}

.negrito:hover{
    font-weight: bold;
}

#produtos{
    color: #001D3D;
}

#equipe{
    color: #001D3D;
}

#sobre{
    color: #001D3D;
}

#divBusca{
    border-radius: 20px;
    border-color: black;
    box-shadow: 0 0 0 0;
}

#frete{
    background-color: #001D3D;
}

#img{
    position: relative;
    text-align: center;
}

#img-top{
    width: 100%;
    height: 550px;
}