body {
    background-color: rgb(196, 203, 224)
}

.about h4 {
    margin-bottom: -3px
}

.about h3 {
    color: #e3ce57
}

.fc-bg-yellow{
    background-color:#ffd60a;
}

.fc-yellow{
    color:#ffd500;
    font-weight: bold;
}

.fc-blue{
    color:#001d3d;
}

.fc-bg-blue{
    color:#001d3d;
}

.background{
    background-color: #d1d1d1;
}

.fs-24{
    font-size: 24px;
}

.fs-18{
    font-size: 18px;
}

.about span {
    font-size: 13px
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #e3ce57;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 10%;
    z-index: 10;
    bottom: -5%
}

.inner-dot {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer
}

.alinhamento{
    justify-content: space-evenly;
}

.card-text{
    text-transform: capitalize;
}

.btn{
    text-align: center;
}

.btn:hover{
    background-color:#001d3d;
    color:#ffd60a;
}
