.banner-sec {
    background: url(https://i.imgur.com/uFEpr8L.png) no-repeat left bottom;
    background-size: 80%;
    min-height: 400px;
    border-radius: 0 10px 10px 0;
    background-position: center;
    position: relative;
    padding: 0;
}

.container {
    background: #F7F9E3;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);

}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.login-sec .copy-text i {
    color: #1fb840;
}

.login-sec .copy-text a {
    color: #E36262;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #003566;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFD60A;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.btn-login {
    background: #003566;
    color: #F7F9E3;
    font-weight: 600;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
}

hr{
    border-color: #FFD60A;
}

.btn-login:hover{
    background: #FFD60A;
    color: #003566;
}

.container-fluid{
    background-image: linear-gradient(to right, #FCA311, #FFC300 , #E5E5E5);
    height: 100vh;
    padding: .5rem 1rem;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc-bg-yellow {
    background-color: #ffd60a;
}

.fc-bg-blue{
    background-color: #001D3D;
}

.yellow {
    color: #ffd60a;
}

.blue {
    color: #001D3D;
}