<div class="container-fluid p-0">
    <div class="container align-items-center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Cadastrar</h2>

                <form class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome</label>
                        <input [(ngModel)]="usuario.nomeCompleto" type="text" class="form-control" placeholder="Nome"
                            name="nomeCompleto">

                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">E-mail</label>
                        <input [(ngModel)]="usuario.email" type="text" class="form-control" placeholder="Usuário"
                            name="email">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input (input)="confirmSenha($event)" type="password" class="form-control" placeholder="Senha"
                            name="senha">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirmar Senha</label>
                        <input [(ngModel)]="usuario.senha" name="confirmarSenha" type="password" class="form-control"
                            placeholder="Confirmar Senha">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
                            <option value="">Selecione um tipo de usuário: </option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>

                    </div>



                    <div class="d-flex justify-content-center pt-4">
                        <button type="submit" class="btn fc-bg-yellow font-weight-bold mr-4" id="cancelar"
                            routerLink="/entrar">Cancelar</button>
                        <button type="submit" class="btn fc-bg-blue yellow font-weight-bold" id="cadastrar"
                            (click)="cadastrar()">Cadastrar</button>
                    </div>

                </form>

            </div>

            <div class="col-md-8 banner-sec"></div>
        </div>
    </div>
</div>